.linha-usuario-inativo {
    background-color: #fc3636 !important;
    color: #000000 !important;
}

.conteudo {
    position: relative;
}

#formCadastrar {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinha à esquerda */
    padding: 20px;
}

/* Painel de grade */
#pnlCadastrar {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 colunas */
    gap: 10px; /* Espaço entre os itens */
}

/* Alinhamento dos rótulos */
.p-output-label {
    margin-bottom: 5px; /* Espaçamento inferior para rótulos */
}

/* Alinhamento das mensagens de erro */
.p-message {
    color: red; /* Cor das mensagens de erro */
}

/* Centralização do botão de cadastrar */
#formCadastrar .center {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    margin-top: 20px; /* Espaçamento superior */
}

body {
    background-color: #4C878B;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-editar-usuario {
    background-color: #FFFFFF;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 600px;
}

.panel-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    margin-top: 20px;
}

.button-group {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

